body
	background-color: #FAFBFC
	font-family: verdana
	color: darkgrey
	font-size: 22px 


nav
	padding: 10px
	display: flex
	text-align: left
.nav-item 	
	display: inline-block
	margin: 0 20px
nav a:link 
	color: darkgray 
	text-decoration: none
nav a:hover
	color: darkgray 
	text-decoration: underline
nav a:visited 
	color: darkgray 
	text-decoration: none

main
	display: flex
	flex-wrap: wrap
	justify-content: center
	width: 100%

#albumcontainer
	display: flex
	flex-wrap: wrap
	justify-content: center
	width: 100%
.bild
	position: relative
	width: 100%
	padding-top: 62%
.img
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	overflow: hidden
img
	width: 100%

figure
	width: 33%
	margin: 2%
	background-color: grey
	
figcaption
	height: 4em
	background-color: black
	color: grey

@media screen and (max-width: 480px), (min-resolution: 192dpi), (orientation: portrait)

	#albumcontainer
		background-color: grey
	figure
		position: relative
		width: 90%
		margin-bottom: 3%

	ul
		margin: 5%
	nav
		height: 5%
		text-align: center
		justify-content: center

	body
		font-size: 5vw
	