body
	background-color: #FAFBFC
	font-family: verdana
	color: darkgrey

nav
	padding: 10px
	height: 50px
.nav-item 	
	display: inline-block
	margin: 0 20px
nav a:link 
	color: darkgray 
	font-size: 22px 
	text-decoration: none
nav a:hover
	color: darkgray 
	font-size: 22px 
	text-decoration: underline
nav a:visited 
	color: darkgray 
	font-size: 22px 
	text-decoration: none
main
	display: flex
	flex-wrap: wrap
	justify-content: center
	width: 100%

#albumcontainer
	display: flex
	flex-wrap: wrap
	width: 100%

figure
	width: 33%
	margin: 0
.bild
	height: 80%
	background-color: grey
figcaption
	height: 20%
	background-color: black
	color: grey
img
	width: 100%

@media screen and (max-width: 1080px) and (min-resolution: 192dpi)

	#albumcontainer
		background-color: grey
	figure
		width: 100%
